In [6]:
import pandas as pd
import numpy

In [11]:
# 通过numpy创建：
df = pd.DataFrame(numpy.random.randn(6, 4))

datas = pd.date_range('20180920',periods=6)
df = pd.DataFrame(numpy.random.randn(6, 4), index=datas, columns=list('ABCD'))
df

                   A         B         C         D
2018-09-20 -0.776685  2.069877 -0.639637 -0.151195
2018-09-21  0.395507 -1.118541 -0.228837  1.099007
2018-09-22 -0.440120 -1.157375 -0.554919  1.135202
2018-09-23  0.000580 -1.295625 -0.122812 -0.468825
2018-09-24 -1.133886  0.921472  0.580810 -0.161925
2018-09-25 -0.149830  0.570740  0.417764 -0.804873

In [13]:
df.iloc[1] = [1,1,1,1]

In [14]:
df

                   A         B         C         D
2018-09-20 -0.776685  2.069877 -0.639637 -0.151195
2018-09-21  1.000000  1.000000  1.000000  1.000000
2018-09-22 -0.440120 -1.157375 -0.554919  1.135202
2018-09-23  0.000580 -1.295625 -0.122812 -0.468825
2018-09-24 -1.133886  0.921472  0.580810 -0.161925
2018-09-25 -0.149830  0.570740  0.417764 -0.804873